@media screen and (max-width:576px) {
  .middle-range{
    display: none;
  }
}

@media screen and (min-width:578px) and (max-width:1023px){
 /* Home Section */
 
  .home-caption{
  text-align: center;
 }
  #home h1 {
  font-size: 48px;
 
}
#home p {
  font-size: 16px;
width: 70%;
margin: auto;
}
 
 
 
 
  .home-image{
 margin: auto;
    width: 540px;
    height: 350px;
  }
  .home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .active-players{
    width: 20%;
     bottom: -10px;
  left: 100px;
  }





   .view-all {
    width: auto;
    margin-top: 0px;
  }




 /* what we do secion  */


#what-we-do .heading h2,#what-we-do .heading p{
  font-size: 36px;
 
}


/* Our Team Section */
.heading p{
  font-size: 20px;
}
#our-team .heading h2,#contact-us .heading h2{
  font-size: 48px;
}
.member-info h3{

  font-size: 20px;

}
.member-info span.text-color{
  font-size: 14px;
}
.member-info span{
  font-size: 12px;
}
.member-title span{
  font-size: 18px;
}

/* Contact-us Section */
 
.item-title h4{
  
  font-size: 20px;
 
}
.contact-item-icon{
  width: 70px;
  height: 70px;
 
}
.contact-item-icon i{
  font-size: 30px;
  
}
.contact-form form label{
 
font-size: 14pxpx;

}
.contact-form h5{
font-size: 24px;


}
.contact-form form input::placeholder{
 
  font-size: 16px;
}
.form-footer h6{
 font-size: 24px;

}
.form-footer p{
  font-size: 14px;
}


    /* Footer Section */
  .games{
  margin-top: 0px;
  }
  .footer-last{

  text-align: start;
}

}

@media screen and (min-width: 1024px) {
  /*Navigation bar  */

  .navbar-nav {
    margin-top: 0px;
    border-bottom: none;
  }

  .nav-item {
    margin-bottom: 0px;
  }
  .sign-in button {
    width: auto;
    margin-top: 0px;
  }
  .notification,
  .messages {
    margin-top: 0px;
    font-size: 20px;
  }

  /* Home section */
  #home {
    background-attachment: fixed;
    padding: 40px;
  }

  .home-caption {
    text-align: start;
  }
  #home h1 {
    font-size: 3.75rem;
    font-weight: 900;
  }
  #home p {
    font-size: 16px;
  }
  .btns button {
    font-size: 1rem;
  }
  .start-btn button {
    margin-bottom: 0;
  }
  .watch-btn button {
    margin-bottom: 0px;
  }
  .home-image {
   
    width: 540px;
    height: 350px;
  }
  .home-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .active-players {
    width: 25%;

    bottom: -20px;
    left: -20px;
  }

  /* Our Games Section */
  #our-games {
    padding: 40px;
  }
  .heading h2 {
    font-size: 48px;
  }
  
  .view-all {
    width: auto;
    margin-top: 0px;
  }

 /* what we do secion  */


#what-we-do .heading h2,#what-we-do .heading p{
  font-size: 48px;
 
}
.item-hover h4{
font-size: 20px;
 width: 90%;
 margin: auto;
}
/* .do-item {
 min-height: 290px;
} */
/* .do-item img {
height: 100%;
} */

/* Our Team Section */
.heading p{
  font-size: 20px;
}

#our-team .heading h2,#contact-us .heading h2{
  font-size: 48px;
}
.member-info h3{

  font-size: 20px;
 

}
.member-info span.text-color{
  font-size: 14px;
}
.member-info span{
  font-size: 12px;
}
.member-title span{
  font-size: 18px;
}
/* Contact-us Section */

.item-title h4{
  
  font-size: 20px;
 
}

.contact-item-icon{
  width: 70px;
  height: 70px;
 
}
.contact-item-icon i{
  font-size: 30px;
  
}
.contact-form form label{
 
font-size: 14pxpx;

}
.contact-form h5{
font-size: 24px;


}
.contact-form form input::placeholder{
 
  font-size: 16px;
}
.form-footer h6{
 font-size: 24px;

}
.form-footer p{
  font-size: 14px;
}
  /* Footer Section */
  .games{
  margin-top: 0px;
}
  .footer-last{

  text-align: start;
}

}

